MANIFEST.MF

*.mine

*.iml

*.merge-left

*.merge-right

*.prej

*.working

*.DS_Store

*.classpath

*.project

.settings

.settings/

target

bin

*.war

*.class

.svn

_svn

svn-commit*.tmp

.git

_git

.deployables

buildNumber.properties